body{
    background-color: #c3bdfe;
    text-shadow: 0.5px 0.5px 15px;
    font: normal 13pt arial;
}
header {
    font: normal 80pt impact;
    text-align: center;
    margin-top: 5%;
    text-shadow: 0px 0px 1px;
}
#informacoes{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
}
#username{
    margin-left: 23.5%;
}
#escolaBoletim{
    margin-right: 6%;
    margin-left: 620px;
}
#name{
    margin-top: 140px;
    margin-left: 23.5%;
}
#boletim{
    display: flex;
    flex-direction: row;
}
#trimestres{
    background-color: #adcce9;
    width: 1000px;
    height: 27px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    font-weight: 600;
}
#materias {
    background-color: #adcce9;
    width: 200px;
    height: 378px;
    margin: auto;
    margin-right: 0%;
    font-weight: 600;
}
#notas{
    background-color: #cfeefa;
    width: 200px;
    height: 378px;
    margin-right: auto;
    margin-right: 0px;
}
#notaFinal{
    background-color: #bad5e5;
    width: 200px;
    height: 378px;
    margin: auto;
    margin-left: 0px;
}
#notaNum{
    margin-left: 34%;
    margin-top: 20px;
}
#calMedia{
    margin-left: 18.8%;
}
.botao{
    background-color: #adcce9;
    box-shadow: 3px 3px 5px #94c2d1;
    font-weight: 600;
}
#caixa{
    width: 198px;
    height: 25px;
    border: solid 1px black;
    margin: 0%;
    text-align: center;
}
#logout{
    margin-top: 30px;
    margin-left: 23.5%;
    width: 80px;
}
footer{
    font: normal 10pt arial;
    text-align: center;
    margin-top: 40px;
}
/*180x25 200x30 cada bloco 5x14*/